<body style="background-color:#1d1e1f;">
<div class = "container">
  <h2 class = "whiteTxt">Edit Relic</h2>

<%= render 'form_edit', relic: @relic %>

<%= link_to 'Cancel Edit', @relic, class: "btn btn-outline-danger btn-sm" %>

  <br/>

  <br/>
</div>
