// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.outline{
  outline: 1px solid #a4adb3;
}

.green{
  background-color: #2d523a;
}

.orange{
  background-color: #663a29;
}

.red{
  background-color: #703131;
}

.purple{
  background-color: #311c47;
}

.maroon{
  background-color: #2b0d0d;
}

.whiteTxt{
  color: #f0f0f0;
}
